.problems-section {
    background-color: #fff9e6;
    /* 薄いオレンジ背景 */
    padding-bottom: 4rem;
}

.check-list {
    padding-left: 0;
    list-style: none;
}

.check-list li {
    position: relative;
    padding: 0.8rem 0 0.8rem 2.5rem;
    border-bottom: var(--border-dashed);
    font-weight: bold;
}

/* オレンジのチェックマーク */
.check-list li::before {
    content: '✔';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: var(--accent-orange);
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
}